@page
@model cristyan_resende_DR4_TP2.Pages.CityManager.CreateCityModel
@{
	ViewData["Title"] = "Cadastro de Cidades Turísticas";
}
<h2>@ViewData["Title"]</h2>

<form method="post">
    <!-- Validação de erros no topo -->
    <div asp-validation-summary="All" class="text-danger"></div>

    <!-- Campo com validação e uso dos Tag Helpers -->
    <div class="form-group">
        <label asp-for="City.CityName">Nome da Cidade:</label>
        <input asp-for="City.CityName" class="form-control" />
        <span asp-validation-for="City.CityName" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <p>@Model.Message</p>
}

@section Scripts {
    <!-- Referência ao ValidationScriptsPartial -->
    <partial name="_ValidationScriptsPartial" />
}